{% extends 'base.html' %}

{% load static %}


{% block main %}    
    <!-- Stripe Sass integration -->
    <script src="https://js.stripe.com/v3/"></script>
    <!-- stripe checkout -->
    <script src={% static '/js/stripe_config.js' %}></script>
    <div class="container-fluid  demo-blocks" style="background-color:white;">
        <!-- ./Pricing Table - Simple Columns -->
        <section class="block bg-contrast">
            <div class="container py-4">
                <div class="row">
                    {% comment %} <div class="col-md-4 mt-5">
                        <div class="card text-center">
                            <div class="pricing card-header p-5 bg-light d-flex align-items-center flex-column">
                                <h4 class="bold">Personal</h4>
                                <div class="pricing-value"><span class="price text-dark">0.99</span></div>
                                <p>Includes simple but powerful functionality for individuals and small teams. You can upgrade on the way</p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item strike-through">Cras justo odio</li>
                                <li class="list-group-item strike-through">Dapibus ac facilisis in</li>
                                <li class="list-group-item strike-through">Morbi leo risus</li>
                                <li class="list-group-item">Porta ac consectetur ac</li>
                                <li class="list-group-item">Vestibulum at eros</li>
                            </ul>
                            <div class="card-body"><a class="btn btn-rounded btn-outline-primary" id="submitBtn">Buy now <i class="fa fa-long-arrow-alt-right ms-3"></i></a></div>
                        </div>
                    </div> {% endcomment %}
                    {% for item in data %}
                    
                        
                        <div class="col-md-4 mt-5 mx-auto">
                            <div class="card text-center">
                                <div class="pricing card-header p-5 bg-primary text-contrast d-flex align-items-center flex-column">
                                    <h4 class="bold text-contrast">{{item.name}}</h4>
                                    
                                    <div class="pricing-value">{{item.price}} $ </div>
                                    per {{item.point}} point
                                    <p>{{item.description}}</p>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item strike-through">Cras justo odio</li>
                                    <li class="list-group-item strike-through">Dapibus ac facilisis in</li>
                                    <li class="list-group-item">Morbi leo risus</li>
                                    <li class="list-group-item">Porta ac consectetur ac</li>
                                    <li class="list-group-item">Vestibulum at eros</li>
                                </ul>
                                <div class="card-body"><a class="btn btn-rounded btn-primary" onclick=connect('{{item.price_id}}')>Buy now <i class="fa fa-long-arrow-alt-right ms-3"></i></a></div>
                            </div>
                        </div>
                    
                        {% endfor %}
                        {% comment %} <div class="col-md-4 mt-5">
                        <div class="card text-center">
                            <div class="pricing card-header p-5 bg-light d-flex align-items-center flex-column">
                                <h4 class="bold">Enterprise</h4>
                                <div class="pricing-value"><span class="price text-dark">99.99</span></div>
                                <p>Everything you can get from a professional solution to keep your business on its way to success</p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Cras justo odio</li>
                                <li class="list-group-item">Dapibus ac facilisis in</li>
                                <li class="list-group-item">Morbi leo risus</li>
                                <li class="list-group-item">Porta ac consectetur ac</li>
                                <li class="list-group-item">Vestibulum at eros</li>
                            </ul>
                            <div class="card-body"><a class="btn btn-rounded btn-outline-primary" id="submitBtn">Buy now <i class="fa fa-long-arrow-alt-right ms-3"></i></a></div>
                        </div>
                    </div> {% endcomment %}
                </div>
            </div>
        </section><!-- ./Pricing Table - Month/Yearly Plans -->
        
        
    </div>
    
{% endblock %}    